*{
	margin:0px;
	padding:0px;
	font-family:'微软雅黑';
}
body{
	font-size:12px;
	padding:30px;
}
.clearfix{
	*zoom:1;
}
.clearfix:after{
	display:block;
	content:'';
	overflow:hidden;
	height:0px;
	clear:both;
}
#body{
	width:1000px;
	display:table;
}
#body>div{
	display:table-cell;
	vertical-align:top;
	box-sizing:border-box;
}
#mleft{
	width:70%;
}
#mright{
	width:30%;
}
.movielist{
	list-style:none;
}
.movielist li{
	width:100%;
	display:table;
	padding:15px 0px;
}
.movielist h5 span{
	font-size:0.5em;
	font-weight:normal;
	color:#666;
}
.movielist li>div{
	display:table-cell;
	vertical-align:top;
	box-sizing:border-box;
}
.movielist li>div:first-child{
	width:15%;
	padding:0px 15px;
}
.movielist li>div{
	padding-left:15px;
	width:85%;
}
.movielist li>div+div>*{
	margin-bottom:10px;
}
.movielist img{
	max-width:100%;
	display:block;
}
.movielist .tags{
	color:#666;
	font-size:12px;
}
.pprocess{
	display:block;
	width:100%;
	height:15px;
	overflow:hidden;
	background:#ccc;
}
.pprocess>div{
	float:left;
	box-sizing:border-box;
	height:15px;
}
.pgood{
	background:blue;
}
.pbad{
	background:orange;
}
.btn{
	padding:2px 5px;
	border:1px solid #ccc;
	background:#fff;
	border-radius:2px;
	display:inline-block;
	cursor:pointer;
}
.btn.dis{
	background:#ddd;
	color:#fff;
	border-color:#ccc;
	cursor:default;
}
.bnor{
	background:blue;
	border-color:rgb(15, 15, 184);
	color:#fff;
}
.bbad{
	background:orange;
	border-color:rgb(189, 125, 7);
	color:#fff;
}
.bdel{
	background:red;
	border-color:rgb(205, 10, 10);
	color:#fff;
}
.bgray{
	background:#ccc;
	border:1px solid #666;
}
.movielist label{
	display:block;
}
.movielist input[type='text']{
	display:block;
	width:100%;
}
/* mright */
#mright h2{
	padding-left:15px;
}
.pages [type='button']{
	width:150px;
	height:30px;
	margin-right:10px;
	border:1px solid #0B0B73;
	background:#2626B1;
	color:#fff;
	outline:none;
}
.pages .next{
	background:#04044A;
	border-color:#04041D;
}
/* loginform */
.loginform{
	width:250px;
	margin:150px auto;
	position:relative;
	transition:all 2s ease-out 0s;
}
.loginform fieldset{
	padding:10px;
	position:relative;
}
.loginform [type='password']{
	width:100%;
	height:30px;
	line-height:30px;
	text-indent:5px;
}
#subbtn{
	height:25px;
	padding:0px;
	width:80px;
	position:absolute;
	right:10px;
	margin-top:-28px;
}
.loginform legend{
	font-size:16px;
	color:#666;
	background:#fff;
	padding:0px 5px;
}
.loginform.close{
	opacity:0;
	margin-top:-300px;
}