<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='/stylesheet/style.css' />
	</head>
	<body>
		<form class='form-style loginform'>
			<fieldset>
				<legend><%= title%></legend>
				<label for="user">用户名:</label>
				<input type="text" placeholder="请输入用户名" name="user" /><br><br>
                <label for="keyword">密　码:</label>
				<input type="text" placeholder="请输入密码" name="keyword" /><br><br>
				<input type="button" id="signInBtn" value="注册" />
                <input type="button" id="signUpBtn" value="登录" />
			</fieldset>
		</form>

		<script type="text/javascript">
			function createXmlRequest(){
				if(window.ActiveXObject){
					return new ActiveXObject('Microsoft.XMLHTTP');	
				}else{
					return new XMLHttpRequest();
				}
			}
            
            function $(selector){
                return document.querySelector(selector);
            }
            
			var ajax;
			$('#signUpBtn').onclick = function(e){
				ajax = createXmlRequest();
				var url = '/login';
				ajax.open('POST',url,true);
				ajax.setRequestHeader("Content-Type","application/x-www-form-urlencoded");  
				ajax.send('keyword='+document.forms[0].keyword.value+"&username="+document.forms[0].user.value);
				ajax.onreadystatechange = function(){
					if(ajax.status==200){
						var status = JSON.parse(ajax.responseText);
						window.location.href = status.url;
					};
				}
				e.preventDefault();
			}
            $('#signInBtn').onclick = function(){
                ajax = createXmlRequest();
                var url = '/sign';
				ajax.open('POST',url,true);
				ajax.setRequestHeader("Content-Type","application/x-www-form-urlencoded");  
				ajax.send('keyword='+document.forms[0].keyword.value+"&username="+document.forms[0].user.value);
				ajax.onreadystatechange = function(){
					if(ajax.status==200){
						var status = JSON.parse(ajax.responseText);
                        if(status.status === 'error'){
                            alert(status.msg);
                        }else{
                            location.href = status.url;
                        }
					};
				}
            }
		</script>
	</body>
</html>