<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='/stylesheet/style.css' />
	</head>
	<body>
		<h1 class="title"><%= title%></h1>
		<form class='form-style loginform' enctype="application/x-www-form-urlencoded" action='/login' method='post'>
			<label for="keyword">请输入用户密码:</label>
			<input type="password" name="keyword" />
			<input type="submit" value="搜索" />
		</form>
	</body>
</html>